{% if google_dns|default(False) %}
nameserver 8.8.8.8
nameserver 8.8.4.4
{% else %}
nameserver 1.1.1.1
nameserver 1.0.0.1
{% endif %}
{% if 'noc' in group_names %}
search noc.sivel.net
{% else %}
search sivel.net
{% endif %}
