AcceptEnv {{ opensshd_AcceptEnv|join(' ') }}

AddressFamily {{ opensshd_AddressFamily }}

{% if opensshd_AllowGroups is defined %}
AllowGroups {{ opensshd_AllowGroups|join(' ') }}
{% endif %}

AllowTcpForwarding {{ opensshd_AllowTcpForwarding }}

AllowStreamLocalForwarding {{ opensshd_AllowStreamLocalForwarding }}

{% if opensshd_AllowUsers is defined %}
AllowUsers {{ opensshd_AllowUsers|join(' ') }}
{% endif %}

{% if opensshd_AuthenticationMethods is defined %}
AuthenticationMethods {{ opensshd_AuthenticationMethods|join(',') }}
{% endif %}

{% if opensshd_AuthorizedKeysCommand is defined %}
AuthorizedKeysCommand {{ opensshd_AuthorizedKeysCommand }}
{% endif %}

{% if opensshd_AuthorizedKeysCommandUser is defined %}
AuthorizedKeysCommandUser {{ opensshd_AuthorizedKeysCommandUser }}
{% endif %}

{% if opensshd_AuthorizedKeysFile is string %}
AuthorizedKeysFile {{ opensshd_AuthorizedKeysFile }}
{% else %}
AuthorizedKeysFile {{ opensshd_AuthorizedKeysFile|join(' ') }}
{% endif %}

{% if opensshd_AuthorizedPrincipalsCommand is defined %}
AuthorizedPrincipalsCommand {{ opensshd_AuthorizedPrincipalsCommand }}
{% endif %}

{% if opensshd_AuthorizedPrincipalsCommandUser is defined %}
AuthorizedPrincipalsCommandUser {{ opensshd_AuthorizedPrincipalsCommandUser }}
{% endif %}

{% if opensshd_AuthorizedPrincipalsFile is defined %}
AuthorizedPrincipalsFile PP opensshd_AuthorizedPrincipalsFile }}
{% endif %}

Banner {{ opensshd_Banner }}

CASignatureAlgorithms {{ opensshd_CASignatureAlgorithms|join(',') }}

ChrootDirectory {{ opensshd_ChrootDirectory }}

ChallengeResponseAuthentication {{ opensshd_ChallengeResponseAuthentication }}

{% if opensshd_ChrootDirectory is defined %}
ChrootDirectory {{ opensshd_ChrootDirectory }}
{% endif %}

Ciphers {{ opensshd_Ciphers|join(',') }}

ClientAliveCountMax {{ opensshd_ClientAliveCountMax }}

ClientAliveInterval {{ opensshd_ClientAliveInterval }}

Compression {{ opensshd_Compression }}

{# DebianBanner #}

{% if opensshd_DenyGroups is defined %}
DenyGroups {{ opensshd_DenyGroups|join(' ') }}
{% endif %}

{% if opensshd_DenyUsers is defined %}
DenyUsers {{ opensshd_DenyUsers|join(' ') }}
{% endif %}

{% if opensshd_DisableForwarding is defined %}
DisableForwarding {{ opensshd_DisableForwarding }}
{% endif %}

ExposeAuthInfo {{ opensshd_ExposeAuthInfo }}

FingerprintHash {{ opensshd_FingerprintHash }}

{% if opensshd_ForceCommand is defined %}
ForceCommand {{ opensshd_ForceCommand }}
{% endif %}

GatewayPorts {{ opensshd_GatewayPorts }}

GSSAPIAuthentication {{ opensshd_GSSAPIAuthentication }}

GSSAPICleanupCredentials {{ opensshd_GSSAPICleanupCredentials }}

GSSAPIKeyExchange {{ opensshd_GSSAPIKeyExchange }}

GSSAPIStrictAcceptorCheck {{ opensshd_GSSAPIStrictAcceptorCheck }}

GSSAPIStoreCredentialsOnRekey {{ opensshd_GSSAPIStoreCredentialsOnRekey }}

GSSAPIKexAlgorithms {{ opensshd_GSSAPIKexAlgorithms|join(',') }}

HostbasedAcceptedKeyTypes {{ opensshd_HostbasedAcceptedKeyTypes|join(',') }}

HostbasedAuthentication {{ opensshd_HostbasedAuthentication }}

HostbasedUsesNameFromPacketOnly {{ opensshd_HostbasedUsesNameFromPacketOnly }}

{% if opensshd_HostCertificate is defined %}
HostCertificate {{ HostCertificate }}
{% endif %}

{% if opensshd_HostKey is defined %}
{% if opensshd_HostKey is string %}
HostKey {{ opensshd_HostKey }}
{% else %}
{% for key in opensshd_HostKey %}
HostKey {{ key }}
{% endfor %}
{% endif %}
{% endif %}

{% if opensshd_HostKeyAgent is defined %}
HostKeyAgent {{ opensshd_HostKeyAgent }}
{% endif %}

HostKeyAlgorithms {{ opensshd_HostKeyAlgorithms|join(',') }}

IgnoreRhosts {{ opensshd_IgnoreRhosts }}

IgnoreUserKnownHosts {{ opensshd_IgnoreUserKnownHosts }}

{% if opensshd_Include is defined %}
Include {{ opensshd_Include|join(' ') }}
{% endif %}

{% if opensshd_IPQoS is defined %}
IPQoS {{ opensshd_IPQoS|join(' ') }}
{% endif %}

{% if opensshd_KbdInteractiveAuthentication is defined %}
KbdInteractiveAuthentication {{ opensshd_KbdInteractiveAuthentication }}
{% endif %}

KerberosAuthentication {{ opensshd_KerberosAuthentication }}

{% if opensshd_KerberosGetAFSToken != "no" %}
KerberosGetAFSToken {{ opensshd_KerberosGetAFSToken }}
{% endif %}

KerberosOrLocalPasswd {{ opensshd_KerberosOrLocalPasswd }}

KerberosTicketCleanup {{ opensshd_KerberosTicketCleanup }}

KexAlgorithms {{ opensshd_KexAlgorithms|join(',') }}

{% if opensshd_ListenAddress is string %}
ListenAddress {{ opensshd_ListenAddress }}
{% else %}
{% for address in opensshd_ListenAddress %}
ListenAddress {{ address }}
{% endfor %}
{% endif %}

LoginGraceTime {{ opensshd_LoginGraceTime }}

LogLevel {{ opensshd_LogLevel }}

{% if opensshd_MACs is defined %}
MACs {{ opensshd_MACs|join(',') }}
{% endif %}

{% for match in opensshd_Match %}
Match {{ match.type }} {{ match.name }}
{% for key, value in match.config.items() %}
    {{ key }} {{ value }}
{% endfor %}
{% endfor %}

MaxAuthTries {{ opensshd_MaxAuthTries }}

MaxSessions {{ opensshd_MaxSessions }}

MaxStartups {{ opensshd_MaxStartups }}

PasswordAuthentication {{ opensshd_PasswordAuthentication }}

PermitEmptyPasswords {{ opensshd_PermitEmptyPasswords }}

{% if opensshd_PermitListen is string %}
PermitListen {{ opensshd_PermitListen }}
{% else %}
{% for address in opensshd_PermitListen %}
PermitListen {{ address }}
{% endfor %}
{% endif %}

{% if opensshd_PermitOpen is string %}
PermitOpen {{ opensshd_PermitOpen }}
{% else %}
{% for address in opensshd_PermitOpen %}
PermitOpen {{ address }}
{% endfor %}
{% endif %}

PermitRootLogin {{ opensshd_PermitRootLogin }}

PermitTTY {{ opensshd_PermitTTY }}

PermitTunnel {{ opensshd_PermitTunnel }}

PermitUserEnvironment {{ opensshd_PermitUserEnvironment }}

PermitUserRC {{ opensshd_PermitUserRC }}

PidFile {{ opensshd_PidFile }}

{% if opensshd_Port is number or opensshd_Port is string %}
Port {{ opensshd_Port }}
{% else %}
{% for port in opensshd_Port %}
Port {{ port }}
{% endfor %}
{% endif %}

PrintLastLog {{ opensshd_PrintLastLog }}

PrintMotd {{ opensshd_PrintMotd }}

PubkeyAcceptedKeyTypes {{ opensshd_PubkeyAcceptedKeyTypes|join(',') }}

PubkeyAuthOptions {{ opensshd_PubkeyAuthOptions }}

PubkeyAuthentication {{ opensshd_PubkeyAuthentication }}

RekeyLimit {{ opensshd_RekeyLimit }}

RevokedKeys {{ opensshd_RevokedKeys }}

{% if opensshd_RDomain is defined %}
RDomain {{ opensshd_RDomain }}
{% endif %}

{% if opensshd_SecurityKeyProvider is defined %}
SecurityKeyProvider {{ opensshd_SecurityKeyProvider }}
{% endif %}

{% if opensshd_SetEnv %}
SetEnv {{ opensshd_SetEnv|join(' ') }}
{% endif %}

StreamLocalBindMask {{ opensshd_StreamLocalBindMask }}

StreamLocalBindUnlink {{ opensshd_StreamLocalBindUnlink }}

StrictModes {{ opensshd_StrictModes }}

{% for subsystem, path in opensshd_Subsystem.items() %}
Subsystem {{ subsystem }} {{ path }}
{% endfor %}

SyslogFacility {{ opensshd_SyslogFacility }}

TCPKeepAlive {{ opensshd_TCPKeepAlive }}

{% if opensshd_TrustedUserCAKeys is defined %}
TrustedUserCAKeys {{ opensshd_TrustedUserCAKeys }}
{% endif %}

UseDNS {{ opensshd_UseDNS }}

UsePAM {{ opensshd_UsePAM }}

VersionAddendum {{ opensshd_VersionAddendum }}

X11DisplayOffset {{ opensshd_X11DisplayOffset }}

X11Forwarding {{ opensshd_X11Forwarding }}

X11UseLocalhost {{ opensshd_X11UseLocalhost }}

XAuthLocation {{ opensshd_XAuthLocation }}

{% for key, value in opensshd_Extra|default({})|dictsort %}
{{ key }} {{ value }}
{% endfor %}
